<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-card">
  <template>
    <style>
      :host {
        display: block;
      }

      .labelContainer{
        display: block;
        width: 50%;
        text-align: center;
        margin: 0 auto;
      }

      label{
        font-weight: bold;
        display: block;
        text-align: left;
      }
      p{
        display: block;
        text-align: left;
      }

      

      .textoContainer {
        width: 100%;
        text-align: center;
      }

      button {
        width: 65px;
        height: 25px;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <section class="textoContainer">

      <h2>Confirmation!</h2>
      <section class="labelContainer">
        <label for="label1">Label1</label>
        <p>Lorem ipsum dolor sit amet consectetur</p>


        <label for="label2">Label2</label>
        <p>Lorem ipsum dolor sit amet consectetur</p>


        <label for="label3">Label3</label>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </section>

      <button>Boton</button>
    </section>
  </template>
  <script>
    /**
     * `information-card`
     * Componente para presentación de textos con botón.
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationCard extends Polymer.Element {
      static get is() {
        return 'information-card';
      }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'information-card'
          }
        };
      }
    }

    window.customElements.define(InformationCard.is, InformationCard);
  </script>
</dom-module>